table{
    border-collapse: collapse;
    width: 100px;
}

td, th{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(odd) {
    background-color: #dddddd;
}






.nav-bar {
    display: flex;
    background-color: #e0e5e7;
    justify-content: space-between;

}

.menu-bar ul {
    display: flex;
    list-style-type: none;
    
}


.menu-bar li {
    padding: 10px;
}


.menu-bar ul {
    display: flex;
    list-style-type: none;
}

ul {
    justify-content: end;
    justify-items: end;
}



.menu-bar {
    /*margin-left: auto !important;*/
    display: flex;
    /*align-items: center; */
    justify-content: space-between;

}


.menu-bar ul {
  
    display: flex;
    list-style-type: none;
}

ul {
    justify-content: end;
    justify-items: end;
}


.menu-bar li {
    padding: 10px;
}

.btn button {
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 20px;
    color: white;
    background-color: rgb(0, 128, 11);
}





/* Style The Dropdown Button */
.dropbtn {
  
  color: rgb(15, 15, 15);
  background: none;
  font-size: 16px;
  border: none;
  /* cursor: pointer; */
}

/* The container <div> - needed to position the dropdown content */
/* .dropdown { */
  /* position: relative; */
  /* display: inline-block; */
/* } */

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}



@media   (max-width: 500px) {
  body {
    background-color: lightgreen;
  }
}

ul li {
  display: flex;
}
.button-group {
  display: none;
}

.hamburger {
  display: flex;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
}

.hero {
  margin: 20px;
  background-image: url(./Images/sandy-millar-8vaQKYnawHw-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 150px 0 0 50px;
  margin: 0;
}

.hero-content {
  padding: 50px 30px;
  display: flex;
  /* display: inline-block; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-text {
  font-size: 35px;
}

.hero form {
  padding: 0;
  margin: 0;
}

.hero-form input {
  padding: 10px 30px 10px 5px;
  border-radius: 5px;
  border: solid 1px;
}

.hero-form .input-container {
  display: inline-flex;
  align-items: center;
  position: relative;
}

.hero-form .input-container i {
  position: absolute;
  right: 5px;
  font-size: 0.8em;
}

.btn-search {
  width: fit-content;
  margin-left: 10px;
  padding: 10px;
  border-radius: 5px;
  border: solid 1px;
}

.container {
  padding: 10px 100px;
}

.category-text{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-image,
 .card-desc{
  display: flex;
  justify-content: space-evenly;
}
.card-image img {
  flex: 1;
  margin-right: 10px;
  max-width: 25%;
  border-radius: 5px;
}

.card-desc h4 {
  flex: 2;
}

.card-scroll{
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-scroll h4 {
  padding: 5px 10px;
  margin: 0 10px;
  background: #ffffff;
  border: 1px solid #cacaca;
  border-radius: 10px;
}

.card-scroll i {
  background-color: #b2b2b2;
  padding: 5px 10px;
  border-radius: 5px;
  color: #ffffff;
}


.aby{
  display: flex;
  margin: 20px;
  background-color: #b2b2b2;
  background-size: contain 100;
  justify-content: left;
  padding: 100px
  
}

.hero-content {
  padding: 50px 30px;
  display: flex;
  /* display: inline-block; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-text {
  font-size: 35px;
}

.hero form {
  padding: 0;
  margin: 0;
}

.hero-form input {
  padding: 10px 30px 10px 5px;
  border-radius: 5px;
  border: solid 1px;
}


.btn-search {
  width: fit-content;
  margin-left: 10px;
  padding: 10px;
  border-radius: 5px;
  border: solid 1px;
}

.container {
  padding: 10px 100px;
}

.category-text{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
 